n8n-workflows/gold-prediction-alert.json
{
  "name": "Gold Price Prediction Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.GOLD_PREDICTOR_URL || 'http://gold-predictor:8000'}}/predict",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.GOLD_PREDICTOR_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-request",
      "name": "Get Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-should-alert",
              "leftValue": "={{$json.should_alert}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-should-alert",
      "name": "Should Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-strong-signal",
              "leftValue": "={{$json.signal}}",
              "rightValue": "STRONG",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-strong-signal",
      "name": "Is Strong Signal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 200]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=🥇 **GOLD STRONG SIGNAL**\n\n📊 Signal: {{$json.signal}}\n📈 Confidence: {{Math.round($json.confidence * 100)}}%\n\n💰 Current Price: ${{$json.current_price.toFixed(2)}}\n🎯 Predicted: ${{$json.predicted_price.toFixed(2)}}\n📉 Change: {{$json.predicted_change_percent.toFixed(2)}}%\n\n**Direction Probabilities:**\n↑ Up: {{Math.round($json.direction_probabilities.up * 100)}}%\n→ Neutral: {{Math.round($json.direction_probabilities.neutral * 100)}}%\n↓ Down: {{Math.round($json.direction_probabilities.down * 100)}}%\n\n⏰ {{new Date($json.timestamp).toLocaleString()}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-strong",
      "name": "Send Strong Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1100, 100],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=🥇 Gold Prediction Alert\n\n📊 Signal: {{$json.signal}}\n📈 Confidence: {{Math.round($json.confidence * 100)}}%\n💰 Price: ${{$json.current_price.toFixed(2)}} → ${{$json.predicted_price.toFixed(2)}}\n\n⏰ {{new Date($json.timestamp).toLocaleString()}}",
        "additionalFields": {}
      },
      "id": "telegram-normal",
      "name": "Send Normal Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1100, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-no-alert",
      "name": "No Alert Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [860, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "logged_at",
              "value": "={{new Date().toISOString()}}"
            },
            {
              "name": "signal",
              "value": "={{$json.signal}}"
            },
            {
              "name": "confidence",
              "value": "={{$json.confidence}}"
            },
            {
              "name": "current_price",
              "value": "={{$json.current_price}}"
            },
            {
              "name": "predicted_price",
              "value": "={{$json.predicted_price}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-log-data",
      "name": "Prepare Log Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1320, 200]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prediction": {
      "main": [
        [
          {
            "node": "Should Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Alert?": {
      "main": [
        [
          {
            "node": "Is Strong Signal?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Alert Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Strong Signal?": {
      "main": [
        [
          {
            "node": "Send Strong Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Normal Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Strong Alert": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Normal Alert": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "trading",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "gold",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "pinData": {}
}
